---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Thomas, a product executive from the United States.
      </p>
    </div>
    <p class="text-sm font-light">
      In addition to my technical expertise, I have also served on advisory boards and as a mentor, sharing my knowledge and experience with others in the industry. I am constantly seeking out new challenges and am committed to continuing my growth and development as a product leader in the dynamic field of cybersecurity and technology.
    </p>
    <p class="text-sm font-light">
      I am a strong advocate for continuous learning and growth, and I am always looking for new opportunities to expand my knowledge and skills.
    </p>
  </div>
</Card>
